/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$gutter : 0.75em;
$bigLeftWidth : 10em;
$color-background: #fff;

$dev : true;

@import "compass/reset";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  //font-size: 14px;
  line-height: 1.5em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}


html, body, div.container {
	height: 100%;
}

///////////////////////////////////////////////////////////////////////


table.layout {
	width: 100%;
	height: 100%;
	border: 1px solid grey;

	div.logo {
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	td {
		border: 1px solid grey;
		text-align: center;
		vertical-align: middle;
		padding: 0px;
	}

	.leftCol {
		width: 15%;
	}
	.topRow {
		height: 15%;

		td.logo, td.horizNav {
			height: 15%;

			img {
				max-height: 3em;
				width: auto;
			}
		}

	}

	.vertNav img {
		max-width: 100%;
		height: auto;
	}

	td.content {
		vertical-align: top;
		text-align: left;
	}

	td.vertNav,tr.vertNav {
		height: 20%;
	}
	td.horizNav {
		width: 20%;
	}
	.topRow td.logo {
		width: 40%;
	}


	td.logo.leftCol,tr.vertNavTop {
		//eight: 40%;
	}
}

@media screen and (orientation: portrait) {
	.leftCol,.vertNav { display: none; }
	.topRow { display: table-row; }
}

@media screen and (orientation: landscape) {
	.leftCol { display: table-cell; }
	.topRow { display: none; }
}
